<header>
  <img src="assets/img/diogo.jpg"
    alt="Diogo - Profile Photo"
    width="130px"
    height="130px"
    loading="eager"
  />
  <h1>Diogo Almeida</h1>
</header>
<aside>
  <div class="container">
    <p>Full-Stack Java | Angular | AWS Certified</p>
    <p>Jundiai, SP, Brazil</p>
    <p>I've been coding for +3 ys and I have +10 years of engineering experience</p>
    <nav>
      <ul>
        <li>
          <a href="assets/pdf/Resume_Diogo.pdf" target="_blank" class="btn btn-primary">
            Download CV
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/diogo-almeida-49aa095a/" target="_blank" class="btn btn-secondary">
            LinkedIn
          </a>
        </li>
      </ul>
    </nav>
    <section>
      <figure>
        <img src="assets/icons/whatsapp.svg"
          alt="WhatsApp Icon"
          width="22px"
          height="24px"
          loading="eager"
        />
        <figcaption>
          <a href="https://api.whatsapp.com/send/?phone=my_number&text=Ola+Diogo+tudo+bem+?&type=phone_number&app_absent=0"
          target="_blank">
          <strong>Send a message to:</strong>
          <p>WhatsApp: (11) my_number</p>
        </a>
        </figcaption>
      </figure>
      <figure>
        <img src="assets/icons/whatsapp.svg"
          alt="WhatsApp Icon"
          width="22px"
          height="24px"
          loading="eager"
        />
        <figcaption>
          <a href="mailto:diogo_crizostomo@hotmail.com"
          target="_blank">
          <strong>Send an e-mail to:</strong>
          <p>diogo_crizostomo&#64;hotmail.com</p>
        </a>
        </figcaption>
      </figure>
    </section>
  </div>
</aside>
